<html>
    <head>
        <link rel="stylesheet" href="/css/index-style.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <form action="/submit" name="form" method="post">
            {{#each campi}}
                {{#if (eqSelect type)}}
                    {{>select}}
                {{else}}
                    {{#if (eqCheck type)}}
                        {{>checkbox}}
                    {{else}}
                    {{>input}}
                    {{/if}}
                {{/if}}
            {{/each}}
            <input type="hidden" name="title" value="{{title}}">
            <input type="submit" value="send" class="submitButton">
        </form>
        <script src="js/form.js"></script>
    </body>
</html>