<html>
    <head>
        
    </head>
    <body>
        <h1>Dynamic Form</h1>

        <form action="/createForm" name="jsonpass" method="post">
            <textarea id="jsonsend" class="text" cols="86" rows ="20" name="jsonsend"></textarea>
            <input type="submit" value="JsonForm" class="submitButton">
        </form>
    </body>
</html>