<html>
    <head>
        <link rel="stylesheet" href="/css/index-style.css">
    </head>
    <body>
        <h1>JSON generato con successo!</h1>
        <script src="js/success.js"></script>
    </body>
</html>