<div class="checkbox">
    <p>{{nome}}</p>
    <fieldset>
    {{#each options}}
    <input type="checkbox" name="{{../nome}}[]" value = "{{this}}" />
    <label>{{this}}</label>
    {{/each}}
    </fieldset>
</div>